@import '../../styles/variables.scss';

.form {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: $br-base;
  padding: 30px 25px;
  max-width: 600px;
  margin: 0 auto;
}
.title {
  margin-bottom: 30px;
  text-align: center;
}
.lb {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
}
.input {
  border: 1px solid $c-border;
  border-radius: $br-base;
  padding: 0 15px;
  outline: none;
  height: 50px;
  width: 100%;
}
.btn {
  background-color: $c-btn-ok;
  border-radius: $br-base;
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  color: $c-white;
  height: 50px;
  &:hover {
    box-shadow: rgba(#0a44a1, 0.19) 0px 10px 20px,
      rgba(#0a44a1, 0.23) 0px 6px 6px;
  }
}
.haveac {
  margin-top: 25px;
}
