@import '../../styles/variables.scss';

.button {
  transition: all 0.2s linear;
  background-color: #0a44a1;
  border-radius: $br-base;
  width: fit-content;
  color: $c-white;
  padding: 0 65px;
  height: 60px;
  &:hover {
    box-shadow: rgba(#0a44a1, 0.19) 0px 10px 20px,
      rgba(#0a44a1, 0.23) 0px 6px 6px;
  }
}
.btnclick {
  animation-name: btn;
  animation-duration: 0.3s;
}

@keyframes btn {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
